$ffamily: "Libre Franklin", sans-serif;

$fontsize: 20px;

/* colors */

$blue: hsl(223, 87%, 63%);

$paleblue: hsl(223, 100%, 88%);
$lightred: hsl(354, 100%, 66%);

$gray: hsl(0, 0%, 59%);
$darkblue: hsl(209, 33%, 12%);

/* spacing */

$spacing: 40px;
